body {
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    color: white;
}

header {
    background-color: #F15B31;
    padding: 30px 20px;
    font-size: 45px;
}

footer {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #0D2C40;
    padding: 0 20px;
    letter-spacing: .08em;
    font-weight: 500;
    margin: 0 auto;
}

nav {
    background-color: #00A6B3;
    width: 100%;
    padding: 20px 0;
    display: block;
    float: left;
}

main {
    width: 850px;
    margin: 35px auto;
    color: #0D2C40;
}

h1 {
    font-weight: 400;
    margin: 0;
    font-size: 45px;
}

p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}

h2 {
    color: #f15b31;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    margin: 20px 0;
}

a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}

img {
    margin: 40px 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

li {
    display: inline;
}

div {
    margin: 10px;
}

.buttons {
    background-color: #00A6B3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 18px;
}

.name {
    font-weight: 700;
    color: #F15B31;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

#instructions {
    margin: 70px 0 5px 0;
}

#counter {
    background-color: white;
    color: #0D2C40;
    text-align: center;
    width: 40px;
}

#score {
    font-size: 30px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

a:hover {
    background-color: white;
    color: #F15B31;
    padding: 10px;
    border-radius: 5px;
}